.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* scrollbar customization start */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blue;
  transform: scale(1.4) !important;
}
/* customization end */

.view{
  background-image: url('https://wallpaperaccess.com/full/670456.jpg');
  background-repeat:initial;
  background-size:contain;
  background-position: center center;
}

.movie-card {
  margin-left: 5%;
  width: 90vw;
  height:60vh;
}

.movie-text::-webkit-scrollbar{
  display: none;
}

.movie-image{
  justify-content: center;
  width: 90vw;
  height:60vh;
}

.movie-text{
  height: 4.5rem;
  overflow-y: scroll;
  color: white;
  font:message-box;
}


.main-headline{
  margin-top: 6%;
}

@media (max-width: 500px){
  .main-headline{
    padding-top: 20%;
  }
}

.headline{
  margin-left: 5%;
  margin-bottom: 1%;
  color: white;
}

.headline-div{
  padding-top: 5%;
}

.home-nav{
  width:100vw;
  height: fit-content;
}

.navbar-toggler-icon{
  background-image:in;
}

.icon-footer:hover{
  color:purple;
  transform: scale(1.4);
}

.footer-text:hover{
 color: purple !important;
}

.headline-text:hover{
 color: purple;
}

.favorites-tab{
  padding-top: 8%;
  padding-right: 3%;
  background-color: white;
}

.favorites-genres{
  width: fit-content;
  height: fit-content;
  border-style:ridge;
  border-radius: 20px;
  border-width: 0ch;
  padding: 3rem;
  margin-left: 3%;
  background-color: #315fb5;
}

.genre-btn{
  text-align: start;
  color: white;
  font-weight: bold;
}

.favorites-table{
  padding: 3rem;
}

.fav-image{
  height: 10vh;
  width: 10vw;
  border-radius: 40%;
  justify-content: center;
}

.genre-list{
  background-color: blue;
}

.selected-genre{
  text-align: start;
  background-color: white;
  color: #315fb5;
}

.genre-btn:hover{
  background-color: white;
  color: #315fb5;
}

.selected-genre:hover{
  background-color: white;
  color: #315fb5;
}


/* 404 PAGE NOT FOUND CSS */

@import url('https://fonts.googleapis.com/css 2?family=Press+Start+2P&display=swap');

.nopage_body {
    box-sizing: border-box;
    font-family: 'Press Start 2P';
    color: #FFFFFF;
    text-align: center;
}

.nopage_body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='58' viewBox='0 0 42 58'%3E%3Cg fill='%23dddcdd' fill-opacity='0.23'%3E%3Cpath fill-rule='evenodd' d='M12 18h12v18h6v4H18V22h-6v-4zm-6-2v-4H0V0h36v6h6v36h-6v4h6v12H6v-6H0V16h6zM34 2H2v8h24v24h8V2zM6 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM2 50h32v-8H10V18H2v32zm28-6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4z'/%3E%3C/g%3E%3C/svg%3E");
}

section.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 5%;
    height: 105vh;
}

section.notFound h1 {
    color: red;
    font-size: 100px;
}

section.notFound h2 {
    font-size: 50px;
}

section.notFound h1, h2, h3 {
    margin-bottom: 40px;
}

div.text {
    height: 50vh;
}

div.text a {
    text-decoration: none;
    margin-right: 20px;
}

div.text a:hover {
    color: red;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    section.notFound {
        flex-direction: column;
        justify-content: space-around;
    }
    section.notFound div.img img {
        width: 70vw;
        height: auto;
    }
    section.notFound h1 {
        font-size: 50px;
    }
    section.notFound h2 {
        font-size: 25px;
    }
    div.text a:active {
    color: red;
    text-decoration: underline;
  }
}
/* finished 404 page */

.lang-icon{
  margin-left: 1px;
  margin-right: 1px;
}